<!doctype html>
<html ng-app="authentification.app">
<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link href="css/personnalizer.css" rel="stylesheet">

    <base href="/angularjs1-factions-test/"/>

</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
    <div class="container">
        <div class="navbar-header">
            <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <a class="btn btn-default" href="#/">Home</a>
           <a class="btn btn-default" href="#/factions" data-ng-show="authentication.isAuth">Factions</a>
        </div>
        <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
            <ul class="nav navbar-nav navbar-right">
                <li data-ng-hide="!authentication.isAuth"><a href="#">Welcome {{authentication.userName}}</a></li>
                <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
                <li data-ng-hide="authentication.isAuth"><a href="#/login">Login</a></li>
            </ul>
        </div>
    </div>
</div>


<div ui-view></div>

<poney></poney>


<!-- 3rd party libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.2/angular-local-storage.min.js"></script>
<!-- Load app main script -->
<script src="js/app/app.js"></script>
<!-- Load services -->
<script src="js/app/services/serviceModule.js"></script>
<script src="js/app/services/authService.js"></script>
<script src="js/app/services/authInterceptorService.js"></script>
<script src="js/app/services/factionsService.js"></script>
<!-- Load controllers -->
<script src="js/app/controllers/controllerModule.js"></script>
<script src="js/app/controllers/loginController.js"></script>
<script src="js/app/controllers/indexController.js"></script>
<script src="js/app/controllers/factionsController.js"></script>
<!-- Load Directives -->
<script src="js/app/directives/directiveModule.js"></script>
<script src="js/app/directives/poney.js"></script>

</body>
</html>